{% extends '_auth_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Log In{% endblock title %}

{% block content %}
   <div class="row">
    <div class="col-md-4 offset-md-4 mt-5">
        <h1>Log In</h1>
        <hr>
        <form action="" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-primary" type="submit">Login In</button>
        </form>
        <p class="mt-1">Don't have an account? click <a href="/auth/signup/">here</a> to register.</p>
    </div>
   </div>
{% endblock content %}