{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'img/favicons/favicon.ico' %}">

    <title>Django HRMS | {% block title %}{% endblock title %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">

    {% block additional_css %}{% endblock additional_css %}
</head>

<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Django-HRMS</a>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="{% url 'account_logout' %}">Sign out</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <h6
                        class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Attendance</span>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link attendance" href="{% url 'attendance' %}">
                                <span data-feather="user"></span>
                               My Attendance
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link team-attendance" href="#">
                                <span data-feather="users"></span>
                                Team Attendance
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <h1 class="h2">{% block page_header %}{% endblock page_header %}</h1>
                </div>

                <div class="col-md-12">
                    {% block content %}{% endblock content %}
                </div>
            </main>
        </div>
    </div>
    <input type="hidden" name="active_nav_class" id="active-nav-class" value="{% block active_nav_class %}{% endblock active_nav_class %}">
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script>window.jQuery || document.write('<script src="{% static 'js\/jquery-3.4.1.min.js' %}"><\/script>')</script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Icons -->
    <script src="{% static 'js/feather.min.js' %}"></script>
    <script>
        // Initalizes feather icons plugin
        // URL: https://feathericons.com/
        feather.replace()
    </script>

    <script>
        $(document).ready(function() {
            // To highlight current page link in side navigation bar
            var activeNavClass = $.trim($('#active-nav-class').val())
            if (activeNavClass.length) {
                $('.' + activeNavClass).addClass('active')
            }
        });
    </script>

    {% block additional_js %}{% endblock additional_js %}

</body>

</html>